<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853469777982-g6bp6to87ullinl1jqtt2v12b82ha9ib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853469777982-g6bp6to87ullinl1jqtt2v12b82ha9ib</string>
	<key>API_KEY</key>
	<string>AIzaSyAvTbJXyXAtpkI85uUTLGCGBr-d2WXBYZc</string>
	<key>GCM_SENDER_ID</key>
	<string>853469777982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>myapp-addcd</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-addcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853469777982:ios:8e1849cabab11ec75d416f</string>
</dict>
</plist>